body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.header {
    background-color: #6a0dad;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #7a1fc8;
    padding: 10px;
    width: 100%;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
.login {
    position: relative;
}
.login button {
    background: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.search-bar, .register {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.search-bar input, .search-bar select, .search-bar button, .register input, .register button {
    padding: 10px;
    margin: 5px;
}
.carousel {
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: none;
    margin: auto;
    border-radius: 20px;
}
.carousel img.active {
    display: block;
}
.locations, .offers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}
.location, .offer {
    background: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 200px;
}
.offer img {
    width: 100%;
    height: auto;
    border-radius: 20px
}

.footer {
    background-color: #7a1fc8;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-top: auto;
}
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .footer {
        text-align: center;
        padding: 10px;
    }
}